html,
body {
  height: 99%;
  margin: 0;
}

.shop-name {
  position: fixed;
  z-index: 500;

  width: 100%;
  height: 42px;

  margin: 0 auto;

  border-bottom: 1px solid lightgrey;

  background: white;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32px;

  text-align: center;
}

.shop-name::first-letter {
  color: red;
}

.buttons {
  position: relative;
  bottom: -200px;

  text-align: center;
}

.contacts {
  position: relative;
  bottom: 0;
  z-index: 500;

  width: 100%;
  height: 60px;

  border-top: 1px solid lightgrey;

  background: white;

  font-family: Arial, sans-serif;
  font-size: 14px;
}

.contacts a {
  color: #4c4cd8;
  text-decoration: none;
}

.contacts .contact {
  float: left;

  margin-left: 1%;
}

.contacts .organization {
  float: right;

  margin-top: 45px;
  margin-right: 1%;
}

.carousel {
  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 100%;
  margin-bottom: -60px;
}

.carousel:after {
  display: block;

  height: 60px;

  content: '';
}

.cat-list {
  position: absolute;

  top: calc(50% - 200px);

  width: 5000px;
  height: 400px;

  transition: left 0.5s ease-out;

  font-size: 0;
  user-select: none;
}

.cat {
  position: relative;

  display: inline-block;

  width: 400px;
  height: 80%;

  margin: 0 50px;

  transition: all 0.8s ease-in-out;
}

.cat img {
  position: absolute;

  width: 100%;
  height: 100%;

  cursor: pointer;

  object-fit: cover;
  opacity: 0.7;
}

.image-name {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 1;

  display: none;

  transition: 0.5s ease-in-out;

  color: white;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}

.image-name a {
  position: absolute;

  overflow: hidden;

  padding: 175px 35px 0;

  transform: translate(0, 40px);

  background-color: black;
  color: white;

  font-size: 2.3rem;
  opacity: 0.7;

  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;

  white-space: nowrap;
}

.button {
  display: none;
}

.radio-buttons {
  position: absolute;

  top: calc(50% + 250px);
  right: 0;
  left: calc(50% - 100px);

  user-select: none;
}

.circle,
.circle a {
  display: inline-block;

  width: 16px;
  height: 16px;

  border-radius: 10px;

  background-color: lightgrey;
  cursor: pointer;
}

.circle a {
  display: none;
}

.modal-view .closer a {
  position: absolute;

  z-index: 1;

  transform: translate(400px, 100px);

  color: white;

  font-family: Arial, sans-serif;
  font-size: 40px;
  text-decoration: none;
}

.first:checked ~ .radio-buttons .first-circle a,
.second:checked ~ .radio-buttons .second-circle a,
.third:checked ~ .radio-buttons .third-circle a,
.fourth:checked ~ .radio-buttons .fourth-circle a,
.fifth:checked ~ .radio-buttons .fifth-circle a,
.sixth:checked ~ .radio-buttons .sixth-circle a,
.seventh:checked ~ .radio-buttons .seventh-circle a,
.eighth:checked ~ .radio-buttons .eighth-circle a,
.ninth:checked ~ .radio-buttons .ninth-circle a,
.tenth:checked ~ .radio-buttons .tenth-circle a {
  background: grey;
}

.first:checked ~ .cat-list {
  left: calc(50% - 250px);
}

.second:checked ~ .cat-list {
  left: calc(50% - 250px - 500px);
}

.third:checked ~ .cat-list {
  left: calc(50% - 250px - 1000px);
}

.fourth:checked ~ .cat-list {
  left: calc(50% - 250px - 1500px);
}

.fifth:checked ~ .cat-list {
  left: calc(50% - 250px - 2000px);
}

.sixth:checked ~ .cat-list {
  left: calc(50% - 250px - 2500px);
}

.seventh:checked ~ .cat-list {
  left: calc(50% - 250px - 3000px);
}

.eighth:checked ~ .cat-list {
  left: calc(50% - 250px - 3500px);
}

.ninth:checked ~ .cat-list {
  left: calc(50% - 250px - 4000px);
}

.tenth:checked ~ .cat-list {
  left: calc(50% - 250px - 4500px);
}

.first:checked ~ .cat-list .first-cat,
.second:checked ~ .cat-list .second-cat,
.third:checked ~ .cat-list .third-cat,
.fourth:checked ~ .cat-list .fourth-cat,
.fifth:checked ~ .cat-list .fifth-cat,
.sixth:checked ~ .cat-list .sixth-cat,
.seventh:checked ~ .cat-list .seventh-cat,
.eighth:checked ~ .cat-list .eighth-cat,
.ninth:checked ~ .cat-list .ninth-cat,
.tenth:checked ~ .cat-list .tenth-cat {
  height: 100%;
  margin-bottom: -50px;
}

.modal-view img {
  position: relative;
}

.first:checked ~ .cat-list .first-cat img,
.second:checked ~ .cat-list .second-cat img,
.third:checked ~ .cat-list .third-cat img,
.fourth:checked ~ .cat-list .fourth-cat img,
.fifth:checked ~ .cat-list .fifth-cat img,
.sixth:checked ~ .cat-list .sixth-cat img,
.seventh:checked ~ .cat-list .seventh-cat img,
.eighth:checked ~ .cat-list .eighth-cat img,
.ninth:checked ~ .cat-list .ninth-cat img,
.tenth:checked ~ .cat-list .tenth-cat img {
  opacity: 1;
}

.first:checked ~ .cat-list .first-cat:hover .image-name,
.second:checked ~ .cat-list .second-cat:hover .image-name,
.third:checked ~ .cat-list .third-cat:hover .image-name,
.fourth:checked ~ .cat-list .fourth-cat:hover .image-name,
.fifth:checked ~ .cat-list .fifth-cat:hover .image-name,
.sixth:checked ~ .cat-list .sixth-cat:hover .image-name,
.seventh:checked ~ .cat-list .seventh-cat:hover .image-name,
.eighth:checked ~ .cat-list .eighth-cat:hover .image-name,
.ninth:checked ~ .cat-list .ninth-cat:hover .image-name,
.tenth:checked ~ .cat-list .tenth-cat:hover .image-name {
  display: block;
}

.cat-list .link-to-modal-view {
  position: absolute;

  top: -40px;
  right: 0;
  bottom: 40px;
  left: 0;

  z-index: 10;

  display: none;
}

.first:checked ~ .radio-buttons .first-circle a,
.second:checked ~ .radio-buttons .second-circle a,
.third:checked ~ .radio-buttons .third-circle a,
.fourth:checked ~ .radio-buttons .fourth-circle a,
.fifth:checked ~ .radio-buttons .fifth-circle a,
.sixth:checked ~ .radio-buttons .sixth-circle a,
.seventh:checked ~ .radio-buttons .seventh-circle a,
.eighth:checked ~ .radio-buttons .eighth-circle a,
.ninth:checked ~ .radio-buttons .ninth-circle a,
.tenth:checked ~ .radio-buttons .tenth-circle a,
.first:checked ~ .cat-list .first-cat .link-to-modal-view,
.second:checked ~ .cat-list .second-cat .link-to-modal-view,
.third:checked ~ .cat-list .third-cat .link-to-modal-view,
.fourth:checked ~ .cat-list .fourth-cat .link-to-modal-view,
.fifth:checked ~ .cat-list .fifth-cat .link-to-modal-view,
.sixth:checked ~ .cat-list .sixth-cat .link-to-modal-view,
.seventh:checked ~ .cat-list .seventh-cat .link-to-modal-view,
.eighth:checked ~ .cat-list .eighth-cat .link-to-modal-view,
.ninth:checked ~ .cat-list .ninth-cat .link-to-modal-view,
.tenth:checked ~ .cat-list .tenth-cat .link-to-modal-view {
  display: inline-block;
}

.modal-view {
  position: absolute;

  bottom: -60px;

  z-index: 499;

  display: none;

  width: 100%;
  min-height: 100%;

  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.modal-view:target {
  display: block;
}

.modal-view .photo {
  position: relative;

  top: 130px;
  left: 50px;

  float: left;

  width: 50%;
  height: 100%;

  opacity: 1;
}

.modal-view .horizontal {
  top: 50px;
  left: 25%;

  width: 70%;
}

.modal-view .info {
  position: relative;

  top: 170px;
  left: 90px;
  float: left;

  display: block;

  width: 25%;
  height: 100%;

  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  text-align: left;
}

.modal-view .cat-name {
  font-size: 1.5em;
}

.modal-view .cat-name:hover {
  color: grey;
}

.modal-view .info p:not(.cat-name):hover {
  color: grey;
}
